.List {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}

.ListItem {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #521751;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
    background-color: #ccc;
}

.fade-enter{
    opacity:0;
}
.fade-enter-active{
    opacity:1;
    transition: opacity 300ms ease-out;
}
.fade-exit{
    opacity:1;
}
.fade-exit-active{
    opacity:0;
    transition: opacity 300ms ease-out;
}